body {
  background-image: url("./images/bg-pattern-bottom-desktop.svg");
  font-size: 15px;
  font-family: "Spartan", sans-serif;
}

.purple-theme {
  color: hsl(300, 43%, 22%);
}

.dark-magenta {
  color: hsl(303, 10%, 53%);
}

.container {
  margin: 40px 90px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  padding: 5px;
}

.section-row {
    margin: 20px 0px;
}

.flex-1 {
  flex-grow: 1;
}

.flex-2 {
  flex-grow: 2;
}

.title-page {
  font-size: 50px;
}

.avatar img {
  border-radius: 40px;
  width: 64px;
  margin-right: 10px;
}

.rating {
  border-radius: 5px;
  background-color: hsl(300, 24%, 96%);
  width: 450px;
  padding: 10px;
  margin-bottom: 20px;
}

.rating-text {
  margin-left: 10px;
  font-weight: bold;
}

.margin-left-80 {
  margin-left: 80px;
}

.margin-left-150 {
  margin-left: 150px;
}

.card {
  background-color: hsl(300, 43%, 22%);
  border-radius: 8px;
  padding: 30px 25px;
}

.row-name {
    margin-bottom: 15px;
}
.margin-right-15 {
  margin-right: 15px;
}

.section-name {
    padding: 15px 0px;
}

.name {
  color: hsl(0, 0%, 100%);
  margin-bottom: 10px;
}

.status {
  color: hsl(333, 80%, 67%);
}

.quotes {
  color: hsl(0, 0%, 100%);
  font-size: 13px;
  line-height: 1.8;
  font-weight: lighter;
}
